@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  margin: 0;
  padding: 0;
  background: #5CA4EA;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.botao {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

